EverbridgeClientSide/Connected Services/DoorServiceNamespace/DoorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50071/DoorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EverbridgeWCF" />
  <xs:element name="addNewDoor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewDoorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewDoorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="closeDoor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="closeDoorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="closeDoorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDoors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDoorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EverbridgeWCF" minOccurs="0" name="getAllDoorsResult" nillable="true" type="q1:ArrayOfDoor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDoor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDoorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EverbridgeWCF" minOccurs="0" name="getDoorResult" nillable="true" type="q2:Door" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lockDoor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lockDoorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lockDoorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="openDoor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="openDoorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="openDoorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeDoor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeDoorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeDoorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unlockDoor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unlockDoorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unlockDoorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDoorLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDoorLabelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>