EverbridgeClientSide/Connected Services/DoorServiceNamespace/DoorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EverbridgeWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EverbridgeWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDoor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Door" nillable="true" type="tns:Door" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoor" nillable="true" type="tns:ArrayOfDoor" />
  <xs:complexType name="Door">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="isLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="isOpen" type="xs:boolean" />
      <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Door" nillable="true" type="tns:Door" />
</xs:schema>